@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    
}

#shadow {
    margin-top: 6.6em;
    position: absolute;
    width: 220px;
    height: 380px;
    background-color: #0ff;
    box-shadow:
        0 0 30px 10px #0ff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#door {
    margin-top: 100px;
    position: absolute;
    width: 220px;
    height: 395px;
    background-color: #000;
    animation: slide-rotate-ver-right 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s 1 forwards;
}

#shadow h1, h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 8px 0;
}

#arrow {
    animation: is-bouncing 1s ease-in-out infinite;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    height: 13px;
    display: none;
}

@keyframes is-bouncing {
    to {
        transform: translateY(-5px);
    }
}


@keyframes slide-rotate-ver-right {
    
    100% {
        box-shadow: -1px 0px #3f5854, -2px 0px #3f5854, -3px 0px #3f5854, -4px 0px #3f5854, -5px 0px #3f5854, -6px 0px #3f5854, -7px 0px #3f5854, -8px 0px #3f5854;
        transform: translateX(190px) perspective( 900px ) rotateY( 30deg );
    }

}
  
