@import url(./animations.css);

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #000F26;
}

.window__container {
    padding: 5em;
    display: grid;
    grid-template-columns: 22% 22% 34% 22%;
    grid-template-rows: 40% 20% 40%;
    justify-self: end;
    column-gap: 3%;
    row-gap: 2%;
    align-self: center;
    width: 480px;
    height: 430px;
}

#window__one {
    grid-area: 3/2/4/4;
    justify-self: end;
    align-self: end;
    width: 160px;
    display: none;

}

#window__two {
    grid-area: 1/3/3/5;
    justify-self: end;
    align-self: start;
    width: 250px;
    display: none;

}

#window__three {
    grid-area: 2/1/4/3;
    justify-self: start;
    align-self: end;
    width: 230px;
    display: none;

}

#window__four {
    grid-area: 1/2/2/3;
    justify-self: center;
    align-self: start;
    width: 100px;
    display: none;

}

#window__five {
    grid-area: 1/1/2/2;
    justify-self: start;
    align-self: start;
    width: 100px;
    display: none;

}

#window__six {
    grid-area: 3/4/4/5;
    justify-self: end;
    align-self: end;
    width: 85px;
    display: none;
}



.switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}
  
.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
  
.switch + label {
    padding: 2px;
    width: 80px;
    height: 35px;
    background-color: #b3b3b3;
    border-radius: 60px;
    transition: background 0.4s;
}

.switch + label:before,
.switch + label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 60px;
    transition: background 0.4s;
}

.switch + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 30px;
    background-color: #b3b3b3;
    border-radius: 52px;
    transition: margin 0.4s, background 0.4s;
}

.switch:checked + label {
    background-color: #D63B7E;
}

.switch:checked + label:after {
    margin-left: 45px;
    background-color: #D63B7E;
}

.switch__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    justify-self: center;
}

#arrow {
    animation: is-bouncing 1s ease-in-out infinite;
    align-self: center;
    cursor: pointer;
    height: 100px;
    justify-self: center;
    display: none;
    margin-top: 60px;
}

.content {
    display: grid;
    grid-template-columns: 60% 29% 11%;
}

#title {
    color: #f6f6f6;
    margin-left: 20%;
    margin-top: 18%;
    overflow: hidden;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 80px; 
    display: block;
    animation: appear 1s ease-in-out forwards;
}

.switch__container {
    opacity: 0;
}

.switch__six{
    animation: slide 0.5s ease-in-out forwards;
}

.switch__five{
    animation: slide 0.5s ease-in-out 0.2s forwards;
}

.switch__four{
    animation: slide 0.5s ease-in-out 0.4s forwards;
}

.switch__three{
    animation: slide 0.5s ease-in-out 0.6s forwards;
}

.switch__two{
    animation: slide 0.5s ease-in-out 0.8s forwards;
}

.switch__one{
    animation: slide 0.5s ease-in-out 1s forwards;
}
