@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(../styles/animations.css);

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-width: 100%;
    background-color: #000F26;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #f6f6f6f6;
    padding-top: 8%;
    text-align: center;
    animation: appear 1s ease-in-out forwards;
}

.image{
    padding: 1% 0 1% 0;
    transform: scale(0.9);
    animation: appear 1s ease-in-out 1s forwards;
    opacity: 0;
}

.content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: end;
}

#button__start {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0.5em;
    border-radius: 50px;
    color: #f6f6f6f6;
    border: #844E9C solid 3px;
    width: 6em;
    cursor: pointer;
    margin-bottom: 1%;
    animation: get-big 1s ease-in-out forwards;
}

#button__start:hover {
    background-color: #844E9C;
}

#light {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,  
        0 0 100px 60px #f0f, 
        0 0 140px 90px #0ff; 
}

.content {
    display: grid;
    grid-template-columns: 65% 31%;
}

#arrow {
    animation: is-bouncing 1s ease-in-out infinite;
    align-self: center;
    cursor: pointer;
    height: 100px;
    justify-self: end;
    display: none;
    margin-top: 60px;
}




